.app {
  font-family: sans-serif;
  text-align: center;
}

.horizontal-nav a{
  display: inline-block;
  padding: 1em 2em;
}

.page{
  padding: 30px;
  border: 1px solid #f0f0f0;
  line-height: 30px;
}

.comp-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
}

.text-section {
  padding: 5px;
  border: 1px dashed #f0f0f0;
  border-radius: 10px;
}

.comp-container span, .text-section span{
  color: gray
}

